.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  outline: 1px solid teal;
}

.container-second {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  outline: 1px solid teal;
}

/** advartismant---------секція  */

@media screen and (max-width: 375px) {
  .container {
    max-width: 100%;
  }

  .title-big {
    font-size: 12.8vw;
  }
}

@media screen and (max-width: 375px) {
  .container-second {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .container-second {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1144px;
  }
}

@media screen and (min-width: 1280px) {
  .container-second {
    max-width: 1144px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
