<footer class="footer">
  <div class="container footer-flex">
    <div class="logo-wrap">
      <a aria-label="Logo" href="./index.html" class="footer-logo-link">
        <svg class="footer-logo-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="footer-logo-text" width="146" height="12">
          <use href="./img/icons.svg#icon-text-logo"></use>
        </svg>
      </a>
      <p class="footer-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="info-wrap">
      <nav aria-label="Product" class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#explanation" class="footer-nav-link scroll-to"
              >how it works</a
            >
          </li>
          <li class="footer-nav-item">
            <a href="#products" class="footer-nav-link scroll-to">vegetables</a>
          </li>
          <li class="footer-nav-item">
            <a href="#comments" class="footer-nav-link scroll-to">reviews</a>
          </li>
        </ul>
      </nav>
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a
              class="address-link-tel"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener nofollow norefer"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-item">
            <a
              class="address-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener nofollow norefer"
              >1678 S. Pioneer Road Salt<br />
              Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-block">
      <ul class="footer-block-list">
        <li class="block-item">
          <a href="#">Privacy Policy</a>
        </li>
        <li class="block-item">
          <span> / </span>
        </li>
        <li class="block-item">
          <a href="#">Cookie settings</a>
        </li>
      </ul>
      <p class="block-text">&#169;Green Harvest 2023</p>
    </div>
  </div>
</footer>
