<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo-link">
        <svg class="header-logo-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="header-logo-text" width="146" height="12">
          <use href="./img/icons.svg#icon-text-logo"></use>
        </svg>
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#explanation" class="header-nav-link">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a href="#products" class="header-nav-link">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a href="#comments" class="header-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-burger-menu">
      <svg class="header-burger-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-burger-menu-mob"></use>
      </svg>
    </button>

    <button class="header-order-menu" type="button">Shop now</button>
  </div>

  <div class="backdrop is-hidden">
    <div class="mob-menu">
      <div class="mob-menu-wrap">
        <button class="close-modal">
          <svg class="icon-close-modal" width="32" height="32">
            <use href="./img/icons.svg#icon-close-mob"></use>
          </svg>
        </button>

        <nav class="mob-menu-nav">
          <ul class="mob-menu-list">
            <li class="mob-menu-item">
              <a href="" class="header-nav-link">How It Works</a>
            </li>
            <li class="mob-menu-item">
              <a href="" class="header-nav-link">Vegetables</a>
            </li>
            <li class="mob-menu-item">
              <a href="" class="header-nav-link">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>

      <button class="mob-order-menu" type="button">Shop now</button>
    </div>
  </div>
</header>
