<section class="section-it-work" id="explanation">
  <div class="container conteiner-it-work">
    <h2 class="visually-hidden">How it works</h2>
    <div class="conteiner-img-it-work">
      <picture class="img-it-work">
        <source
          srcset="
            ./img/how-it-works/how-it-works_2x.webp 2x,
            ./img/how-it-works/how-it-works_1x.webp 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/how-it-works/how-it-works-tab_2x.webp 2x,
            ./img/how-it-works/how-it-works-tab_1x.webp 1x
          "
          media="(min-width: 768px )"
        />
        <source
          srcset="
            ./img/how-it-works/how-it-works-mob_2x.webp 2x,
            ./img/how-it-works/how-it-works-mob_1x.webp 1x
          "
          media="(min-width: 320px )"
        />
        <source
          srcset="
            ./img/how-it-works/how-it-works-mob_2x.webp 2x,
            ./img/how-it-works/how-it-works-mob_1x.webp 1x
          "
          media="(max-width: 320px )"
        />
        <img
          src="./img/how-it-works/how-it-works-tab_1x.webp"
          alt="woman"
          width="640"
          height="640"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="conteiner-list-it-work">
      <p class="heading heading-it-works">
        To order your <span class="color-p">vegetable</span> basket, simply
        follow these <span class="color-p">easy steps</span>
      </p>
      <p class="text it-work-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>

      <ol class="it-works-list">
        <li class="it-works-item">
          <p class="text-conteiner">
            Just choose
            <span class="it-works-item-color"> the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="it-works-item-color"> next to it.</span>
          </p>
        </li>
        <li class="it-works-item">
          <p class="text-conteiner">
            Click on <span class="it-works-item-color"> the basket</span> and
            fill out the form.
          </p>
        </li>
        <li class="it-works-item">
          <p class="text-conteiner">
            Sit back and relax! Your
            <span class="it-works-item-color"> fresh vegetables</span> basket
            will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
