<section class="vegetables">
  <div class="container">
    <h2 class="vegetables-title heading title-big">
      organic <span>vegetables</span>
    </h2>
    <p class="vegetables-text text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="veg-item-subtitle">eggplant</h3>
        <p class="veg-item-text">60 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables.img/img-1-2x-min.png 2x,
            ./img/vegetables.img/img-1-min.png    1x
          "
          src="./img/vegetables.img/img-1-min.png"
          alt="eggplant"
          width="282"
          height="243"
          class="veg-img"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="veg-item-subtitle">leek</h3>
        <p class="veg-item-text">50 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables.img/img-2-2x-min.png 2x,
            ./img/vegetables.img/img-2-min.png    1x
          "
          src="./img/vegetables.img/img-2-min.png"
          alt="leek"
          width="282"
          height="243"
          class="veg-img"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="veg-item-subtitle">mushrooms</h3>
        <p class="veg-item-text">40 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables.img/img-3-2x-min.png 2x,
            ./img/vegetables.img/img-3-min.png    1x
          "
          src="./img/vegetables.img/img-3-min.png"
          alt="mushrooms"
          width="282"
          height="243"
          class="veg-img"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="veg-item-subtitle">corn</h3>
        <p class="veg-item-text">60 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables.img/img-4-2x-min.png 2x,
            ./img/vegetables.img/img-4-min.png    1x
          "
          src="./img/vegetables.img/img-4-min.png"
          alt="corn"
          width="282"
          height="243"
          class="veg-img"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="veg-item-subtitle">sweet potatoes</h3>
        <p class="veg-item-text">50 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables.img/img-5-2x-min.png 2x,
            ./img/vegetables.img/img-5-min.png    1x
          "
          src="./img/vegetables.img/img-5-min.png"
          alt="potatoes"
          width="282"
          height="243"
          class="veg-img"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="veg-item-subtitle">carrot</h3>
        <p class="veg-item-text">40 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables.img/img-6-2x-min.png 2x,
            ./img/vegetables.img/img-6-min.png    1x
          "
          src="./img/vegetables.img/img-6-min.png"
          alt="carrot"
          width="282"
          height="243"
          class="veg-img"
        />
      </li>
    </ul>
  </div>
</section>
