<section class="your-order">
  <div class="container">
    <h2 class="order-title heading">
      Fresh <span>Harvest</span> Box has got you covered
    </h2>
    <p class="order-text text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-bloks">
      <div class="order-blok-form">
        <h3 class="order-form-subtitle">
          Ordering <span class="order-part-one">from us</span> is quick and
          easy! Fill out <span class="order-part-two">the form</span> below and
          we will contact you !
        </h3>
        <form name="order-product" autocomplete="off" class="order-form">
          <label class="form-label">
            <input
              type="text"
              name="user-name"
              placeholder="Full Name"
              required
              autocomplete="on"
              class="order-input text"
            />
          </label>
          <label class="form-label">
            <input
              type="email"
              name="user-email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
              autocomplete="on"
              class="order-input text"
            />
          </label>
          <label class="form-label">
            <textarea
              name="user-comment"
              placeholder="Comment"
              class="order-form-area text"
            ></textarea>
          </label>
          <button type="submit" class="order-btn text">Send</button>
        </form>
      </div>
      <div class="order-blok-link">
        <div class="order-img-gradient">
          <picture>
            <source
              srcset="
                /img/order-img/blender-desk-2x.webp 2x,
                /img/order-img/blender-desk-1x.webp 1x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/order-img/blender-tab-2x.webp 2x,
                /img/order-img/blender-tab-1x.webp 1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/order-img/blender-mob-2x.webp 2x,
                /img/order-img/blender-mob-1x.webp 1x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/order-img/blender-tab-1x.webp"
              alt="blender"
              width="528"
              height="273"
              class="order-img"
            />
          </picture>
        </div>
        <div class="order-link-text text">
          <p class="order-blok-text">Follow us on our social networks:</p>
          <ul class="order-list">
            <li class="order-list-item">
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener nofollow norefer"
                class="order-link"
                >instagram</a
              ><span class="order-link-part">/</span>
            </li>
            <li class="order-list-item">
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener nofollow norefer"
                class="order-link"
                >facebook</a
              ><span class="order-link-part">/</span>
            </li>
            <li class="order-list-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener nofollow norefer"
                class="order-link"
                >youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
