.adver-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.adver-text {
  color: #141414;
}

@media screen and (max-width: 374px) {
  .adver-text {
    font-size: 12.8vw;
  }
}

.span-adver {
  color: #fbfbfb;
  position: relative;
  display: block;
}

.span-adver::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% + 20px);
  height: 102px;
  border-radius: 12px;
  background: var(--second-bgc);
}

@media screen and (min-width: 768px) {
  .adver-section {
    padding: 100px 0;
  }

  .adver-text {
    font-size: 64px;
    line-height: 1.09;
  }

  .span-adver::before {
    width: calc(100% + 32px);
    height: 86px;
  }
}

@media screen and (min-width: 1280px) {
  .adver-text {
    font-size: 76px;
    line-height: 1.05;
  }

  .span-adver {
    display: inline-block;
  }

  .span-adver::before {
    width: calc(100% + 26px);
  }
}
