.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 397px;
}

.header-logo-link {
  display: flex;
  align-items: center;

  transition: transform 250ms var(--cubic-regular);
  outline: transparent;
}

.header-logo-link:hover,
.header-logo-link:focus {
  transform: scale(1.1);
}

.header-logo-icon,
.header-logo-text {
  fill: var(--primary-text-color);
}

.header-nav-list {
  display: none;
  gap: 8px;
}

.header-nav-item {
}

.header-nav-link {
  display: block;
  padding: 12px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  text-align: center;

  outline: transparent;
  transition: color 250ms var(--cubic-regular),
    background-color 250ms var(--cubic-regular);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--first-bgc);
  background-color: var(--primary-text-color);
}

.header-burger-menu {
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;
}

.header-burger-icon {
  fill: transparent;
  stroke: var(--primary-text-color);
}

.header-order-menu {
  display: none;
  outline: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.4));

  transform: translate(0);
  transition: visibility 250ms var(--cubic-regular),
    transform 450ms var(--cubic-regular);
}

.is-hidden {
  transform: translate(100%);
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: var(--first-bgc);
  overflow-y: auto;
}

.mob-menu-wrap {
  margin-bottom: 15px;
}

.close-modal {
  display: block;
  margin-bottom: 188px;
  line-height: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;

  outline: transparent;
  transition: border-radius 250ms var(--cubic-regular),
    background-color 250ms var(--cubic-regular),
    transform 250ms var(--cubic-regular);
}

.close-modal:hover,
.close-modal:focus {
  border-radius: 50%;
  background-color: var(--primary-text-color);

  transform: scale(0.9);
}

.close-modal:active {
  transform: scale(0.8);
}

.icon-close-modal {
  fill: transparent;
  stroke: var(--primary-text-color);

  transition: stroke 250ms var(--cubic-regular);
}

.close-modal:hover > .icon-close-modal,
.close-modal:focus > .icon-close-modal {
  fill: transparent;
  stroke: var(--first-bgc);
}

.mob-menu-nav {
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mob-menu-item {
}

.mob-menu-item > .header-nav-link {
  display: inline-block;
  padding: 12px 0;
  width: 115px;
  font-size: 14px;
  line-height: 1.28;

  outline: transparent;
}

.mob-order-menu {
  display: block;
  margin: 0 auto;
  padding: 16px 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--first-bgc);

  border-radius: 30px;
  border: none;
  cursor: pointer;

  transition: color 250ms var(--cubic-regular);
}

.mob-order-menu:hover,
.mob-order-menu:focus {
  color: rgba(122, 49, 69, 0.7);
}

@media screen and (min-width: 768px) {
  .header-logo-link {
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .header-logo-icon {
    width: 18px;
    height: 18px;
  }

  .header-logo-text {
    width: 168px;
    height: 15px;
  }

  .header-burger-icon {
    height: 40px;
    width: 40px;
  }

  .mob-menu {
    max-width: 351px;
    margin-left: auto;
  }

  .close-modal {
    margin-bottom: 288px;
  }

  .icon-close-modal {
    width: 40px;
    height: 40px;
  }

  .mob-menu-item > .header-nav-link {
    width: 123px;
    font-size: 16px;
    line-height: 1.25;
  }

  .mob-order-menu {
    padding: 16px 32px;
    font-size: 18px;
    line-height: 1.11;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo-link {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .header-burger-icon {
    display: none;
  }

  .header-nav-list {
    display: flex;
  }

  .header-order-menu {
    display: block;
    padding: 16px 32px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--primary-text-color);

    border-radius: 30px;
    background-color: var(--first-bgc);
    border: none;
    cursor: pointer;

    transition: background-color 250ms var(--cubic-regular),
      color 250ms var(--cubic-regular);
  }

  .header-order-menu:hover,
  .header-order-menu:focus {
    background-color: var(--primary-text-color);
    color: var(--first-bgc);
  }
}
