
.hero {
    min-width: 320px;
    background-color: var(--second-bgc);
}
.container {
    padding: 0;
    
}
.hero-box-subject {
    padding: 100px 20px 40px 20px;   
}

.box-title {
    margin-bottom: 20px;
    line-height: 1;
}

.hero-box-back {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url('../img/mob/hero-mob-1x.webp');
    aspect-ratio: 375 / 370;    
}

@media screen and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-box-back {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url('../img/mob/hero-mob-2x.webp');
    }
}

@media screen and (min-width: 768px) {
    .container {
            padding: 0;
        }
    .hero-box-subject {
        padding: 122px 32px 50px 32px;
    }

    .box-title {
        font-size: 76px;
        margin-bottom: 25px;   
    }

    .box-text {
        font-size: 16px;
        line-height: 1.25;
        max-width: 603px;
    }

    .hero-box-back {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url('../img/tab/hero-tab-1x.webp');
        aspect-ratio: 768 / 539;
    }

    @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-box-back {
            background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url('../img/tab/hero-tab-2x.webp');
        }
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0;
    }

    .hero> .container {
        display: flex;  
    }

    .hero-box-subject {
        padding: 238px 28px 50px 100px;   
    }

    .box-title {
        font-size: 76px;
        margin-bottom: 128px;
        max-width: 502px;
    }

    .box-text {
        max-width: 471px;
    }

    .hero-box-back {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url('../img/desktop/hero-des-1x.webp');
        width: 650px;
    }

    @media screen and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-box-back {
            background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url('../img/desktop/hero-des-2x.webp');
        }
    }
}


  