.your-order {
  background-color: #7a3145;
  padding-top: 80px;
  padding-bottom: 80px;
}

.order-title {
  color: #fbfbfb;
  margin-bottom: 29px;
  opacity: 0;
  transition: all 500ms;
  transform: translateX(50px);
}

.order-title.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}

.order-title span {
  color: rgba(251, 251, 251, 0.3);
}

.order-text {
  margin-bottom: 40px;
  opacity: 0;
  transition: all 500ms;
  transform: translateX(50px);
}

.order-text.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}

.order-blok-form {
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 40px 20px;
  margin-bottom: 20px;
}

.order-form-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}

.form-label {
  display: block;
  margin-bottom: 15px;
}

.order-form > .form-label:last-of-type {
  margin-bottom: 20px;
}

.order-part-one {
  color: #7a3145;
}

.order-part-two {
  color: #576f35;
}

.order-input {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  width: 100%;
  height: 46px;
  letter-spacing: -0.02em;
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms var(--cubic-regular);
}

.order-input::placeholder {
  color: #141414;
}

.order-input:hover {
  border-color: #7a3145;
}

.order-input:focus {
  border-color: #7a3145;
}

.order-input:not(:placeholder-shown):not(:focus):valid {
  border-color: #3cbc81;
}

.order-input:not(:placeholder-shown):not(:focus):invalid {
  border-color: #e74a3b;
}

.order-form-area {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  letter-spacing: -0.02em;
  outline: transparent;
  padding: 14px 16px;
  width: 100%;
  height: 91px;

  transition: border-color 250ms var(--cubic-regular);
}

.order-form-area:hover {
  border-color: #7a3145;
}

.order-form-area:focus {
  border-color: #7a3145;
}

.order-form-area::placeholder {
  color: #141414;
}

.order-btn {
  background: #576f35;
  border-radius: 30px;
  border: none;
  width: 100%;
  height: 50px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;

  transition: background-color 250ms var(--cubic-regular);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #4c612e;
}

.order-blok-link {
  border-radius: 30px;
  padding: 40px 20px;
  background: #576f35;
}

.order-img {
  max-width: 100%;
}

.order-img-gradient {
  position: relative;
  border-radius: 30px;
  margin-bottom: 20px;
}

.order-img-gradient::after {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.3),
    rgba(20, 20, 20, 0.3)
  );
  border-radius: 15px;
  z-index: 99;
}

.order-blok-text {
  font-weight: 600;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}

.order-list-item {
  display: flex;
  gap: 8px;
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.order-link-part {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
}

.order-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  transition: color 250ms var(--cubic-regular);
}

.order-link:hover,
.order-link:focus {
  color: #faebd7;
}

@media screen and (min-width: 768px) {
  .your-order {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .order-title-text {
    width: 640px;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .order-title {
    margin-bottom: 25px;
    font-size: 64px;
    line-height: 1;
  }

  .order-text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.25;
  }

  .order-bloks {
    padding-left: 38px;
    padding-right: 38px;
  }

  .order-form > .form-label:last-of-type {
    margin-bottom: 25px;
  }

  .order-blok-form {
    margin-bottom: 25px;
    padding: 50px 100px;
  }

  .order-form-subtitle {
    margin-bottom: 50px;
  }

  .order-input {
    height: 52px;
  }

  .order-input::placeholder {
    font-size: 16px;
  }

  .order-form-area {
    height: 95px;
  }

  .order-form-area::placeholder {
    font-size: 16px;
  }

  .order-btn {
    height: 52px;
  }

  .order-blok-link {
    padding: 50px;
  }

  .order-img-gradient {
    margin-bottom: 50px;
  }

  .order-blok-text {
    line-height: 1.11111;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .order-list-item {
    gap: 12px;
  }

  .order-link-part {
    font-size: 32px;
  }

  .order-link {
    font-size: 32px;
  }

  .order-list {
    gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  /* .container {
        max-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    } */

  .order-title-text {
    width: 751px;
    padding-top: 100px;
  }

  .order-bloks {
    display: flex;
    gap: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .order-blok-form {
    padding: 50px;
    margin-bottom: 0;
    flex-basis: calc((100% - 24px) / 2);
  }

  .order-blok-link {
    flex-basis: calc((100% - 24px) / 2);
  }
}
